In [36]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score
import pandas as pd
import numpy as np

In [28]:
iris_data = pd.read_csv('iris.csv')
ionosphere_data = pd.read_csv('ionosphere.csv', header = None)
pimaIndiansDiabetes_data = pd.read_csv('pima-indians-diabetes.csv', header = None)

In [29]:
iris_data.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [30]:
ionosphere_data.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [31]:
pimaIndiansDiabetes_data.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [32]:
iris_columnNames = iris_data.columns
iris_class = iris_data[iris_columnNames[4]]
iris_data = iris_data[iris_columnNames[:4]]

iris_trainData, iris_testData, iris_trainClass, iris_testClass = train_test_split(iris_data, iris_class, test_size = 0.33)

In [33]:
ionosphere_class = ionosphere_data.iloc[:, 34:]
ionosphere_data = ionosphere_data.iloc[:, :34]

ionosphere_trainData, ionosphere_testData, ionosphere_trainClass, ionosphere_testClass = train_test_split(ionosphere_data, ionosphere_class, test_size = 0.33)

In [43]:
pimaIndiansDiabetes_class = pimaIndiansDiabetes_data.iloc[:, 8:]
pimaIndiansDiabetes_data = pimaIndiansDiabetes_data.iloc[:, :8]

pimaIndiansDiabetes_trainData, pimaIndiansDiabetes_testData, pimaIndiansDiabetes_trainClass, pimaIndiansDiabetes_testClass = train_test_split(pimaIndiansDiabetes_data, pimaIndiansDiabetes_class, test_size = 0.33)

In [35]:
model = DecisionTreeClassifier()

In [40]:
model.fit(iris_trainData, iris_trainClass)
iris_predictedClass = model.predict(iris_testData)

print(precision_score(iris_testClass, iris_predictedClass, average='micro'))

0.96

In [41]:
model.fit(ionosphere_trainData, ionosphere_trainClass)
ionosphere_predictedClass = model.predict(ionosphere_testData)

print(precision_score(ionosphere_testClass, ionosphere_predictedClass, average='micro'))

0.853448275862069

In [44]:
model.fit(pimaIndiansDiabetes_trainData, pimaIndiansDiabetes_trainClass)
pimaIndiansDiabetes_predictedClass = model.predict(pimaIndiansDiabetes_testData)

print(precision_score(pimaIndiansDiabetes_testClass, pimaIndiansDiabetes_predictedClass, average='micro'))

0.7125984251968503